In [1]:
import os
os.getcwd()

'C:\\Users\\User x\\Documents\\python class'

In [2]:
os.listdir('C:\\Users\\User x\\Documents\\python class')

['.ipynb_checkpoints',
 'Cleaning and EDA.ipynb',
 'customers.csv',
 'Customers_clean.csv',
 'file (1) (1) (1).csv',
 'imdb_top_1000.csv',
 'Olist_dataset',
 'Olist_project.ipynb',
 'orders.csv',
 'Orders_clean.csv',
 'order_items.csv',
 'Payments.csv',
 'python note.ipynb',
 'Python Project.ipynb',
 'Reviews.csv',
 'Reviews_agg.csv',
 'Survey project.xlsx',
 'Titanic dataset',
 'Titanic.ipynb',
 'train.csv',
 'Untitled.ipynb']

In [5]:
import pandas as pd
df = pd.read_excel("Survey project.xlsx", sheet_name= "Sheet3")

In [6]:
df.to_csv("Survey project.csv", index=False)

In [7]:
os.listdir('C:\\Users\\User x\\Documents\\python class')

['.ipynb_checkpoints',
 'Cleaning and EDA.ipynb',
 'customers.csv',
 'Customers_clean.csv',
 'file (1) (1) (1).csv',
 'imdb_top_1000.csv',
 'Olist_dataset',
 'Olist_project.ipynb',
 'orders.csv',
 'Orders_clean.csv',
 'order_items.csv',
 'Payments.csv',
 'python note.ipynb',
 'Python Project.ipynb',
 'Reviews.csv',
 'Reviews_agg.csv',
 'Survey project.csv',
 'Survey project.xlsx',
 'Titanic dataset',
 'Titanic.ipynb',
 'train.csv',
 'Untitled.ipynb']

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106301 entries, 0 to 106300
Columns: 122 entries, Respondent_id to Data Analytics Tool
dtypes: int64(2), object(120)
memory usage: 98.9+ MB

In [10]:
df.isnull().sum()

Respondent_id               0
Year                        0
Age                       445
Gender                     95
Country                   121
                        ...
Kaggle(Share)          101358
Colab(Share)           103206
Shiny(Share)           105664
Others                 105786
Data Analytics Tool     61702
Length: 122, dtype: int64

In [13]:
type(df)

pandas.core.frame.DataFrame

In [14]:
df.columns

Index(['Respondent_id', 'Year', 'Age', 'Gender', 'Country', 'Education Level',
       'Current Role', 'Experience years', 'Python', 'R',
       ...
       'Plotly Dash', 'Streamlit', 'NBViewer', 'GitHub', 'Personal Blog',
       'Kaggle(Share)', 'Colab(Share)', 'Shiny(Share)', 'Others',
       'Data Analytics Tool'],
      dtype='object', length=122)

In [20]:
import numpy as np

columns_to_check = [
    "Age",
    "Gender",
    "Country",
    "Education Level",
    "Current Role",
    "Experience years"]

df[columns_to_check] = df[columns_to_check].replace(r'^\s*$', np.nan, regex=True)

In [21]:
df = df.dropna(subset=columns_to_check, how='all')

In [23]:
df[columns_to_check].isna().all(axis=1).sum()

np.int64(0)

In [30]:
df = df.copy()

In [31]:
df["Age"] = df["Age"].fillna("Unknown")

In [32]:
df.Age.unique()

array(['50-54', '22-24', '45-49', '25-29', '18-21', '30-34', '40-44',
       '35-39', '70+', '55-59', '60-69', 'Unknown'], dtype=object)

In [33]:
df["Gender"] = df["Gender"].fillna("Unknown")

In [35]:
df.Gender.unique()

array(['Male', 'Female', 'Non-binary', 'Prefer not to say', 'Others',
       'Unknown'], dtype=object)

In [36]:
df["Country"] = df["Country"].fillna("Unknown")

In [37]:
df.Country.unique()

array(['India', 'Indonesia', 'Pakistan', 'Mexico', 'Russia', 'Turkey',
       'Australia', 'Nigeria', 'Greece', 'Belgium', 'Japan', 'Egypt',
       'Singapore', 'Brazil', 'Poland', 'China',
       'Iran, Islamic Republic of...', 'United States of America',
       'Italy', 'Viet Nam', 'Israel', 'Peru', 'South Africa', 'Other',
       'Spain', 'Bangladesh',
       'United Kingdom of Great Britain and Northern Ireland', 'France',
       'Switzerland', 'Algeria', 'Tunisia', 'Argentina', 'Sweden',
       'Colombia', 'I do not wish to disclose my location', 'Canada',
       'Chile', 'Netherlands', 'Ukraine', 'Saudi Arabia', 'Romania',
       'Morocco', 'Austria', 'Taiwan', 'Kenya', 'Belarus', 'Ireland',
       'Portugal', 'Hong Kong (S.A.R.)', 'Denmark', 'Germany',
       'South Korea', 'Philippines', 'Sri Lanka', 'United Arab Emirates',
       'Uganda', 'Ghana', 'Malaysia', 'Thailand', 'Nepal', 'Kazakhstan',
       'Ethiopia', 'Iraq', 'Ecuador', 'Norway', 'Czech Republic',
       'Republic of Korea', 'Hungary', 'New Zealand', 'Finland',
       'Unknown', 'United States', 'United Kingdom',
       "People 's Republic of China", 'Iran', 'Hong Kong',
       'Republic of China', 'Vietnam'], dtype=object)

In [40]:
df["Education Level"] = df["Education Level"].fillna("Unknown")

In [47]:
df["Education Level"].unique()

array(["Bachelor's", "Master's", 'Doctorate', 'I prefer not to answer',
       'Some colleges (No degree)', 'High School', 'Professional',
       'Unknown'], dtype=object)

In [49]:
df["Current Role"] = df["Current Role"].fillna("Unknown")

In [50]:
df["Current Role"].unique()

array(['Other', 'Program/Project Manager', 'Software Engineer',
       'Research Scientist', 'Currently not employed', 'Student',
       'Data Scientist', 'Data Analyst', 'Machine Learning Engineer',
       'Business Analyst', 'Data Engineer', 'Product Manager',
       'Statistician', 'Developer Relations/Advocacy',
       'DBA/Database Engineer', 'Product/Project Manager', 'Unknown',
       'Not employed', 'Consultant', 'Research Assistant',
       'Chief Officer', 'Manager', 'Developer Advocate',
       'Marketing Analyst', 'Principal Investigator', 'Salesperson',
       'Data Journalist', 'Operations Research Practitioner',
       'Computer Scientist', 'Software Developer/Software Engineer',
       'Engineer', 'Scientist/Researcher', 'Researcher',
       'Predictive Modeler', 'Programmer', 'Data Miner'], dtype=object)

In [53]:
df["Current Role"] = df["Current Role"].replace(["Not employed", "Currently not employed"], "Unemployed")

In [54]:
df["Current Role"].unique()

array(['Other', 'Program/Project Manager', 'Software Engineer',
       'Research Scientist', 'Unemployed', 'Student', 'Data Scientist',
       'Data Analyst', 'Machine Learning Engineer', 'Business Analyst',
       'Data Engineer', 'Product Manager', 'Statistician',
       'Developer Relations/Advocacy', 'DBA/Database Engineer',
       'Product/Project Manager', 'Unknown', 'Consultant',
       'Research Assistant', 'Chief Officer', 'Manager',
       'Developer Advocate', 'Marketing Analyst',
       'Principal Investigator', 'Salesperson', 'Data Journalist',
       'Operations Research Practitioner', 'Computer Scientist',
       'Software Developer/Software Engineer', 'Engineer',
       'Scientist/Researcher', 'Researcher', 'Predictive Modeler',
       'Programmer', 'Data Miner'], dtype=object)

In [51]:
df["Experience years"] = df["Experience years"].fillna("Unknown")

In [52]:
df["Experience years"].unique()

array(['5-10 years', '20+ years', '1-3 years', '0-1 year', '3-5 years',
       '10-20 years', '0 years', '1-3years', 'Unknown', '20-30 years',
       '30-40 years', '40+ years', '10+ years', 'Non-coder'], dtype=object)

In [57]:
df.info(["Company Size","Yearly compensation","Data Analytics Tool"])

<class 'pandas.core.frame.DataFrame'>
Index: 106269 entries, 0 to 106300
Data columns (total 122 columns):
 #    Column                       Dtype
---   ------                       -----
 0    Respondent_id                int64
 1    Year                         int64
 2    Age                          object
 3    Gender                       object
 4    Country                      object
 5    Education Level              object
 6    Current Role                 object
 7    Experience years             object
 8    Python                       object
 9    R                            object
 10   SQL                          object
 11   C                            object
 12   C++                          object
 13   Java                         object
 14   Javascript                   object
 15   Julia                        object
 16   Swift                        object
 17   Bash                         object
 18   Matlab                       object
 19   Other Programming languages  object
 20   Jupyter                      object
 21   Rstudio                      object
 22   Visual Studio                object
 23   Pycharm                      object
 24   Spyder                       object
 25   Notepad++                    object
 26   Sublime Text                 object
 27   Vim/Emacs                    object
 28   MATLAB.1                     object
 29   Other IDE's                  object
 30   Kaggle                       object
 31   Colab                        object
 32   Azure                        object
 33   Paperspace/Gradient          object
 34   Binder/jupyterHub            object
 35   Code Ocean                   object
 36   IBM Watson Studio            object
 37   Amazon Sagemaker Studio      object
 38   Amazon Emr                   object
 39   Cloud Notebook               object
 40   Cloud Datalab                object
 41   Databricks                   object
 42   Other Notebbooks             object
 43   Matplotlib                   object
 44   Seaborn                      object
 45   Plotly                       object
 46   Ggplot                       object
 47   Shiny                        object
 48   D3 js                        object
 49   Altair                       object
 50   Bokeh                        object
 51   Geoplotlib                   object
 52   Leaflet                      object
 53   Other Visualization tools    object
 54   Scikit-learn                 object
 55   TensorFlow                   object
 56   Keras                        object
 57   PyTorch                      object
 58   Fast.ai                      object
 59   MXNet                        object
 60   Xgboost                      object
 61   LightGBM                     object
 62   CatBoost                     object
 63   Prophet                      object
 64   H20 3                        object
 65   Caret                        object
 66   TidyModels                   object
 67   Jax                          object
 68   Other ML Frameworks          object
 69   Company Size                 object
 70   Yearly compensation          object
 71   Amazon Web                   object
 72   Microsoft Azure              object
 73   GCP                          object
 74   IBM Cloud                    object
 75   Oracle Cloud                 object
 76   Sap Cloud                    object
 77   Salesforce                   object
 78   VMWare                       object
 79   Alibaba                      object
 80   Tencent                      object
 81   Other platforms              object
 82   Amazon Sagemaker             object
 83   Azure Machine                object
 84   Other Machine Learning       object
 85   MYSQL                        object
 86   PostgreSQL                   object
 87   SQLite                       object
 88   Oracle                       object
 89   MongoDB                      object
 90   Snowflakes                   object
 91   IBM Db2                      object
 92   Microsoft SQL                object
 93   Amazon Redshift              object
 94   Amazon DynamoDB              object
 95   Google Cloud BIgquery        object
 96   Google Cloud SQL             object
 97   Google Cloud Firestore       object
 98   Other Data Products          object
 99   Amazon QuickSight            object
 100  Power BI                     object
 101  Google data Studio           object
 102  Looker                       object
 103  Tableau                      object
 104  Salesforce(Visuals)          object
 105  Qlik                         object
 106  Domo                         object
 107  TIBCO Spotfire               object
 108  Alteryx                      object
 109  Sisense                      object
 110  Sap Analytics                object
 111  Other Bi tools               object
 112  Plotly Dash                  object
 113  Streamlit                    object
 114  NBViewer                     object
 115  GitHub                       object
 116  Personal Blog                object
 117  Kaggle(Share)                object
 118  Colab(Share)                 object
 119  Shiny(Share)                 object
 120  Others                       object
 121  Data Analytics Tool          object
dtypes: int64(2), object(120)
memory usage: 99.7+ MB

In [59]:
df[["Company Size", "Yearly compensation", "Data Analytics Tool"]].info()

<class 'pandas.core.frame.DataFrame'>
Index: 106269 entries, 0 to 106300
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Company Size         41656 non-null  object
 1   Yearly compensation  58802 non-null  object
 2   Data Analytics Tool  44599 non-null  object
dtypes: object(3)
memory usage: 3.2+ MB

In [60]:
df["Company Size"].value_counts(dropna=False)

Company Size
NaN                         64613
0-49 employees              13288
1000-9,999 employees         7634
50-249 employees             6567
10,000 or more employees     5654
250-999 employees            5353
> 10,000 employees           3160
Name: count, dtype: int64

In [64]:
df[["Company Size", "Yearly compensation", "Data Analytics Tool"]].isna().sum()

Company Size           64613
Yearly compensation    47467
Data Analytics Tool    61670
dtype: int64

In [66]:
df["Yearly compensation"].unique()

array(['25,000-29,999', '60,000-69,999', '$0-999', '30,000-39,999', nan,
       '15,000-19,999', '70,000-79,999', '2,000-2,999', '10,000-14,999',
       '5,000-7,499', '20,000-24,999', '1,000-1,999', '100,000-124,999',
       '7,500-9,999', '4,000-4,999', '40,000-49,999', '50,000-59,999',
       '3,000-3,999', '300,000-499,999', '200,000-249,999',
       '125,000-149,999', '250,000-299,999', '80,000-89,999',
       '90,000-99,999', '150,000-199,999', '>$1,000,000',
       '$500,000-999,999', '> $500,000', '300,000-500,000', '10-20,000',
       '0-10,000',
       'I do not wish to disclose my approximate yearly compensation',
       '20-30,000', '125-150,000', '30-40,000', '50-60,000',
       '100-125,000', '90-100,000', '70-80,000', '80-90,000', '60-70,000',
       '400-500,000', '40-50,000', '150-200,000', '500,000+',
       '300-400,000', '200-250,000', '250-300,000'], dtype=object)

In [75]:
df["Yearly compensation"] = df["Yearly compensation"].replace("$I do not wish to disclose my approximate yearly compensation", "Undisclosed")

In [76]:
df["Yearly compensation"] = df["Yearly compensation"].apply(
    lambda x: f"${x}"
    if x not in ["Unknown","Undisclosed"] and not str(x).startswith("$")
    else x
)

In [77]:
df["Yearly compensation"].unique()

array(['$25,000-29,999', '$60,000-69,999', '$0-999', '$30,000-39,999',
       'Unknown', '$15,000-19,999', '$70,000-79,999', '$2,000-2,999',
       '$10,000-14,999', '$5,000-7,499', '$20,000-24,999', '$1,000-1,999',
       '$100,000-124,999', '$7,500-9,999', '$4,000-4,999',
       '$40,000-49,999', '$50,000-59,999', '$3,000-3,999',
       '$300,000-499,999', '$200,000-249,999', '$125,000-149,999',
       '$250,000-299,999', '$80,000-89,999', '$90,000-99,999',
       '$150,000-199,999', '$>$1,000,000', '$500,000-999,999',
       '$> $500,000', '$300,000-500,000', '$10-20,000', '$0-10,000',
       'Undisclosed', '$20-30,000', '$125-150,000', '$30-40,000',
       '$50-60,000', '$100-125,000', '$90-100,000', '$70-80,000',
       '$80-90,000', '$60-70,000', '$400-500,000', '$40-50,000',
       '$150-200,000', '$500,000+', '$300-400,000', '$200-250,000',
       '$250-300,000'], dtype=object)

In [83]:
salary_replace = {
    "$10-20,000": "$10,000-19,999",
    "$20-30,000": "$20,000-29,999",
    "$30-40,000": "$30,000-39,999",
    "$40-50,000": "$40,000-49,999",
    "$50-60,000": "$50,000-59,999",
    "$60-70,000": "$60,000-69,999",
    "$70-80,000": "$70,000-79,999",
    "$80-90,000": "$80,000-89,999",
    "$90-100,000": "$90,000-99,999",
    "$100-125,000": "$100,000-124,999",
    "$125-150,000": "$125,000-149,999",
    "$150-200,000": "$150,000-199,999",
    "$200-250,000": "$200,000-249,999",
    "$250-300,000": "$250,000-299,999",
    "$300-400,000": "$300,000-399,999",
    "$400-500,000": "$400,000-499,999",
    "$300,000-500,000": "$300,000-499,999",
    "$0-10,000": "$0-9,999"}

In [84]:
df["Yearly compensation"] = df["Yearly compensation"].replace(salary_replace)

In [85]:
df["Yearly compensation"].value_counts(dropna=False)

Yearly compensation
Unknown             47467
$0-999               7010
Undisclosed          4756
$0-9,999             4398
$30,000-39,999       3128
$40,000-49,999       2924
$100,000-124,999     2891
$50,000-59,999       2830
$10,000-14,999       2448
$60,000-69,999       2264
$1,000-1,999         2149
$70,000-79,999       2059
$10,000-19,999       1937
$5,000-7,499         1723
$125,000-149,999     1710
$150,000-199,999     1630
$80,000-89,999       1575
$90,000-99,999       1573
$15,000-19,999       1551
$20,000-24,999       1517
$20,000-29,999       1395
$7,500-9,999         1331
$2,000-2,999         1295
$25,000-29,999       1262
$4,000-4,999         1024
$3,000-3,999          949
$200,000-249,999      629
$250,000-299,999      263
$500,000-999,999      228
$300,000-499,999      220
$1,000,000+            58
$300,000-399,999       52
$400,000-499,999       23
Name: count, dtype: int64

In [78]:
df["Company Size"].unique()

array(['50-249 employees', '1000-9,999 employees', nan,
       '10,000 or more employees', '0-49 employees', '250-999 employees',
       '> 10,000 employees'], dtype=object)

In [79]:
df["Company Size"] = df["Company Size"].replace(r'^\s*$', np.nan, regex=True)
df["Company Size"] = df["Company Size"].fillna("Unknown")

In [80]:
df["Company Size"].unique()

array(['50-249 employees', '1000-9,999 employees', 'Unknown',
       '10,000 or more employees', '0-49 employees', '250-999 employees',
       '> 10,000 employees'], dtype=object)

In [87]:
df["Company Size"] = df["Company Size"].replace({
    "10,000 or more employees": "10,000+ employees",
    "> 10,000 employees": "10,000+ employees"
})

In [88]:
df["Company Size"].unique()

array(['50-249 employees', '1000-9,999 employees', 'Unknown',
       '10,000+ employees', '0-49 employees', '250-999 employees'],
      dtype=object)

In [89]:
cols = [
    "Age", "Gender", "Country", "Education Level",
    "Current Role", "Experience years",
    "Data Analytics Tool", "Yearly compensation",
    "Company Size"
]

df[cols].isna().sum()

Age                        0
Gender                     0
Country                    0
Education Level            0
Current Role               0
Experience years           0
Data Analytics Tool    61670
Yearly compensation        0
Company Size               0
dtype: int64

In [90]:
df["Data Analytics Tool"] = df["Data Analytics Tool"].replace(r'^\s*$', np.nan, regex=True)
df["Data Analytics Tool"] = df["Data Analytics Tool"].fillna("Unknown")

In [91]:
cols = [
    "Age", "Gender", "Country", "Education Level",
    "Current Role", "Experience years",
    "Data Analytics Tool", "Yearly compensation",
    "Company Size"
]

df[cols].isna().sum()

Age                    0
Gender                 0
Country                0
Education Level        0
Current Role           0
Experience years       0
Data Analytics Tool    0
Yearly compensation    0
Company Size           0
dtype: int64

In [92]:
(df[cols] == "").sum()

Age                    0
Gender                 0
Country                0
Education Level        0
Current Role           0
Experience years       0
Data Analytics Tool    0
Yearly compensation    0
Company Size           0
dtype: int64

In [96]:
id_vars = [
    'Respondent_id', 'Year', 'Age', 'Gender', 'Country', 'Education Level',
    'Current Role', 'Experience years', 'Company Size', 'Yearly compensation',
    'Data Analytics Tool']

question_blocks = {
    'Programming Language': list(df.columns[8:19]),   # Python to Other Programming languages
    'IDE': list(df.columns[20:29]),                   # Jupyter to Other IDE's
    'Notebooks': list(df.columns[30:42]),             # Kaggle to Other Notebooks
    'Visualization Tools': list(df.columns[43:53]),   # Matplotlib to Other Visualization tools
    'ML Frameworks': list(df.columns[54:68]),         # Scikit-learn to Other ML Frameworks
    'Cloud Computing': list(df.columns[71:81]),       # Amazon Web to Other platforms
    'ML Products': list(df.columns[82:84]),           # Amazon Sagemaker to Other Machine Learning
    'Data Products': list(df.columns[85:98]),         # MYSQL to Other Data Products
    'BI Tools': list(df.columns[99:111]),             # Amazon QuickSight to Other Bi tools
    'Public Sharing Platforms': list(df.columns[112:120]) }  # Plotly Dash to Others

In [98]:
melted_list = []

for question, cols in question_blocks.items():
    melted = df.melt(
        id_vars=id_vars,
        value_vars=cols,
        var_name='Option',
        value_name='Value')
    
    melted['Question'] = question 
    melted_list.append(melted)


DF_long = pd.concat(melted_list, ignore_index=True)

In [102]:
DF_long_clean = DF_long.dropna(subset=['Value'])

In [103]:
DF_long_clean.reset_index(drop=True, inplace=True)

In [104]:
DF_long_clean

,Respondent_id,Year,Age,Gender,Country,Education Level,Current Role,Experience years,Company Size,Yearly compensation,Data Analytics Tool,Option,Value,Question
0,1,2021,50-54,Male,India,Bachelor's,Other,5-10 years,50-249 employees,"$25,000-29,999","RStudio, JupyterLab, etc.",Python,Python,Programming Language
1,3,2021,22-24,Male,Pakistan,Master's,Software Engineer,1-3 years,"1000-9,999 employees",$0-999,"Microsoft Excel, Google Sheets, etc.",Python,Python,Programming Language
2,4,2021,45-49,Male,Mexico,Doctorate,Research Scientist,20+ years,"1000-9,999 employees","$30,000-39,999","RStudio, JupyterLab, etc.",Python,Python,Programming Language
3,5,2021,45-49,Male,India,Doctorate,Other,0-1 year,50-249 employees,"$30,000-39,999","RStudio, JupyterLab, etc.",Python,Python,Programming Language
4,6,2021,25-29,Female,India,I prefer not to answer,Unemployed,0-1 year,Unknown,Unknown,"RStudio, JupyterLab, etc.",Python,Python,Programming Language
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
914879,45286,2020,25-29,Male,Germany,Bachelor's,Data Scientist,5-10 years,50-249 employees,"$70,000-79,999","RStudio, JupyterLab, etc.",Shiny(Share),Shiny,Public Sharing Platforms
914880,45302,2020,25-29,Male,Mexico,Master's,Data Scientist,5-10 years,"1000-9,999 employees","$15,000-19,999","SPSS, SAS, etc.",Shiny(Share),Shiny,Public Sharing Platforms
914881,45495,2020,18-21,Female,Colombia,Some colleges (No degree),Data Analyst,0-1 year,50-249 employees,"$2,000-2,999","Microsoft Excel, Google Sheets, etc.",Shiny(Share),Shiny,Public Sharing Platforms
914882,45582,2020,30-34,Male,United Kingdom of Great Britain and Northern I...,Bachelor's,Data Scientist,3-5 years,"10,000+ employees","$50,000-59,999","AWS, GCP, Azure, etc.",Shiny(Share),Shiny,Public Sharing Platforms
914883,45705,2020,50-54,Male,United Kingdom of Great Britain and Northern I...,Bachelor's,Machine Learning Engineer,20+ years,"10,000+ employees","$150,000-199,999","SPSS, SAS, etc.",Shiny(Share),Shiny,Public Sharing Platforms

In [114]:
Respondent_1080 = DF_long_clean[DF_long_clean['Respondent_id'] == 1080]

print(Respondent_1080)

        Respondent_id  Year    Age Gender  Country Education Level  \
917              1080  2021  40-44   Male  Nigeria      Bachelor's
251261           1080  2021  40-44   Male  Nigeria      Bachelor's
335465           1080  2021  40-44   Male  Nigeria      Bachelor's
370117           1080  2021  40-44   Male  Nigeria      Bachelor's
790268           1080  2021  40-44   Male  Nigeria      Bachelor's
820794           1080  2021  40-44   Male  Nigeria      Bachelor's
838304           1080  2021  40-44   Male  Nigeria      Bachelor's
861965           1080  2021  40-44   Male  Nigeria      Bachelor's
892995           1080  2021  40-44   Male  Nigeria      Bachelor's
906347           1080  2021  40-44   Male  Nigeria      Bachelor's

             Current Role Experience years    Company Size  \
917     Software Engineer         0-1 year  0-49 employees
251261  Software Engineer         0-1 year  0-49 employees
335465  Software Engineer         0-1 year  0-49 employees
370117  Software Engineer         0-1 year  0-49 employees
790268  Software Engineer         0-1 year  0-49 employees
820794  Software Engineer         0-1 year  0-49 employees
838304  Software Engineer         0-1 year  0-49 employees
861965  Software Engineer         0-1 year  0-49 employees
892995  Software Engineer         0-1 year  0-49 employees
906347  Software Engineer         0-1 year  0-49 employees

       Yearly compensation                  Data Analytics Tool  \
917           $7,500-9,999  Salesforce, Tableau, Spotfire, etc.
251261        $7,500-9,999  Salesforce, Tableau, Spotfire, etc.
335465        $7,500-9,999  Salesforce, Tableau, Spotfire, etc.
370117        $7,500-9,999  Salesforce, Tableau, Spotfire, etc.
790268        $7,500-9,999  Salesforce, Tableau, Spotfire, etc.
820794        $7,500-9,999  Salesforce, Tableau, Spotfire, etc.
838304        $7,500-9,999  Salesforce, Tableau, Spotfire, etc.
861965        $7,500-9,999  Salesforce, Tableau, Spotfire, etc.
892995        $7,500-9,999  Salesforce, Tableau, Spotfire, etc.
906347        $7,500-9,999  Salesforce, Tableau, Spotfire, etc.

                     Option                            Value  \
917                  Python                           Python
251261        Visual Studio                    Visual Studio
335465         Sublime Text                   Sublime Text
370117               Kaggle                 Kaggle Notebooks
790268      Microsoft Azure                 Microsoft Azure
820794        Azure Machine   Azure Machine Learning Studio
838304           PostgreSQL                      PostgreSQL
861965              MongoDB                         MongoDB
892995  Salesforce(Visuals)                       Salesforce
906347        Kaggle(Share)                          Kaggle

                        Question
917         Programming Language
251261                       IDE
335465                       IDE
370117                 Notebooks
790268           Cloud Computing
820794               ML Products
838304             Data Products
861965             Data Products
892995                  BI Tools
906347  Public Sharing Platforms

#### Respondent 1080 is an early-career software engineer in Nigeria with a strong focus on Python programming and data analytics tools. He has experience across IDE environments, notebooks, cloud platforms, and data products, showing versatility in both development and analytics. Engages with public sharing and BI platforms, indicating an interest in knowledge sharing and business intelligence visualization.

In [116]:
id_vars = ['Respondent_id', 'Gender', 'Education Level']

question_blocks = {
    'Programming Language': ['Python', 'R', 'SQL', 'C', 'C++', 'Java', 'Javascript', 'Julia', 'Swift', 'Bash', 'Matlab', 'Other Programming languages'],
    'Visualization Tool': ['Matplotlib', 'Seaborn', 'Plotly', 'Ggplot', 'Shiny', 'D3 js', 'Altair', 'Bokeh', 'Geoplotlib', 'Leaflet', 'Other Visualization tools'],
    'BI Tool': ['Power BI', 'Tableau', 'Qlik', 'Looker', 'Salesforce(Visuals)', 'Domo', 'TIBCO Spotfire', 'Alteryx', 'Sisense', 'Sap Analytics', 'Other Bi tools']}

melted_list = []

for question, cols in question_blocks.items():
    df_melt = df.melt(
        id_vars=id_vars,
        value_vars=cols,
        var_name='Option',   # Column name of the tool/language
        value_name='Answer'  # Value chosen
    )
    df_melt['Question'] = question
    df_melt = df_melt.dropna(subset=['Answer'])  # only selected options
    df_melt['Selected'] = 1  # binary indicator
    melted_list.append(df_melt)

DF_summary = pd.concat(melted_list, ignore_index=True)

In [118]:
Summary = DF_summary.groupby(['Question', 'Option', 'Gender', 'Education Level']).agg(
    Total_Respondents=('Respondent_id','nunique')
).reset_index()

#### Export ready for Excel

In [120]:
Summary.to_excel('Survey_Summary.xlsx', index=False)